totem {
    version: 2
    secauth: off
    cluster_name: {{ cluster_name }}
    transport: udpu
}

nodelist {
    {% for host in groups['all'] %}
    node {
        ring0_addr: {{ host }}
        nodeid: {{ loop.index }}
    }
    {% endfor %}
}

quorum {
    provider: corosync_votequorum
    auto_tie_breaker: 1
}

logging {
    to_logfile: yes
    logfile: /var/log/cluster/corosync.log
    to_syslog: yes
}
